@model Project.Models.DutyCalculatorModel
@{
    ViewBag.Title = "Used Vehicle Duty Calculator";
    Layout = "~/Views/Shared/_PlainLayout.cshtml";
}


<div id="wait" style="display:none;width:150px;height:89px;position:absolute;top:100%;left:50%;padding:5px;z-index:1000">
    <img src="~/Content/loading.gif" />
</div>
<br />
    <div class="container">
       
        <div class="widget-title">
            <h6 class="title">

                <label class="">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked onclick="show1();"> Get HDV using Make, Model, and Year
                </label>
                <label class="">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" onclick="show2();"> Get HDV using Chassis No
                </label>
            </h6>
        </div>

        <div class="row">
            <div>
                <div class="col-sm-12 col-md-12 post-list">
                    <div class="widget" id="make">
                        @*<div class="widget-title">
                            <h3 class="title">Vehicle Information</h3>
                        </div>*@

                        @using (Ajax.BeginForm("UsedVehicle", "DutyCalculator", null, new { @class = "form-inline" }))
                        {

                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="inputGroupSuccess3">Make</label>
                                <div class="input-group col-xs-4">                                   
                                    @Html.DropDownListFor(x => x.MakeNames, Model.MakeNames, "Select a Make", new { @id = "ddlMake", @class = "form-control" })
                                </div>

                            </div>

                                    <div class="form-group has-success has-feedback">
                                        <label class="control-label" for="inputGroupSuccess3">Model</label>
                                        <div class="input-group  col-xs-4">                                          
                                            @Html.DropDownListFor(x => x.ModelNames, new List<SelectListItem>(), "Select a Model", new { @id = "ddlModel", @class = "form-control" })
                                        </div>

                                    </div>

                                    <div class="form-group has-success has-feedback">
                                        <label class="control-label" for="inputGroupSuccess3">Year</label>
                                        <div class="input-group col-xs-4">

                                            @Html.TextBoxFor(model => model.VehicleTypeform.Year, new { @class = "form-control", @placeholder = "Eg. 2018" })

                                        </div>

                                    </div>

                                    <div class="form-group has-success has-feedback">
                                        <div class="input-group">
                                            <button type="button" id="btnmake" class="btn btn-default btn-xs btn-block" style="color:white">  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Find &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</button>
                                        </div>

                                    </div>

                        }


                    </div>

                    <div class="widget" id="chassis">
                        @*<div class="widget-title">
                            <h3 class="title">Used Chassis to Get Duty</h3>
                        </div>*@
                        @using (Ajax.BeginForm("UsedVehicle", "DutyCalculator", null, new { @class = "form-inline" }))
                        {
                            <div class="form-group has-success has-feedback">
                                <label class="control-label" for="inputGroupSuccess3">Chassis No</label>
                                <div class="input-group">

                                    @Html.TextBoxFor(model => model.ChassisNo, new { @class = "form-control" })

                                </div>

                            </div>

                                    <div class="form-group has-success has-feedback">
                                        <div class="input-group">
                                            <button type="button" class="btn btn-default btn-xs" id="btnchassis" style="color:white">Decode</button>
                                        </div>

                                    </div>
                        }

                    </div>
                    <br />
                   
                    <div id="vresult">

                    </div>
                    
                </div>
            </div>
            <div>
             

            </div>

        </div>

        @if (TempData["Message"] != null)
            {
                var alertType = (TempData["MessageType"] != null) ? TempData["MessageType"] : "alert-info";
            <div class="alert @alertType fade in">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="fa fa-times"></i>
                </button>
                @Html.Raw(TempData["Message"])
            </div>
        }
    </div>




@section Scripts{

@*@Scripts.Render("~/Content/Backend/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/Backend/plugins/datatables/tabletools/TableTools.min.js")
@Scripts.Render("~/Content/Backend/plugins/datatables/colvis/ColVis.min.js")
@Scripts.Render("~/Content/Backend/plugins/datatables/DT_bootstrap.js")*@

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    @Scripts.Render("~/Content/Backend/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js")
    <script>
                "use strict";
                $(document).ready(function () {

                    (function () {
                        $('#chassis').hide();
                    })();

                    $(document).ajaxStart(function () {
                        $("#wait").css("display", "block");

                    });
                    $(document).ajaxComplete(function () {
                        $("#wait").css("display", "none");
                    });
                    $("btnmake").click(function () {
                        $("#vresult").load("demo_ajax_load.asp");

                    });




                    $('#ddlMake').change(function () {
                        $.ajax({
                            type: "post",
                            url: "https://www.ghanastradinghub.gov.gh/new/DutyCalculator/GetModelNames",
                            data: { mId: $('#ddlMake').val() },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                var district = "<select id='ddlModel'>";
                                district = district + '<option value="">Select a Model</option>';
                                for (var i = 0; i < data.length; i++) {
                                    district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                                }
                                district = district + '</select>';
                                $('#ddlModel').html(district);
                            }
                        });
                    });

                });


                function show1() {
                    document.getElementById('chassis').style.display = 'none';
                    document.getElementById('make').style.display = 'block';
                    inlineRadioOptions.show1();

                }
                function show2() {
                    document.getElementById('chassis').style.display = 'block';

                    document.getElementById('make').style.display = 'none';
                    inlineRadioOptions.show2();
                }



                $(document).on('click', '#btnmake', function () {
                    $.ajax({
                        url: '@Url.Action("GetResult", "DutyCalculator")',
                        type: 'POST',
                        cache: false,
                        async: true,
                        data: { 'VehicleMake': $('#ddlMake').val(), 'VehicleModel': $('#ddlModel').val(), 'VehicleYear': $('#VehicleTypeform_Year').val() },
                        success: function (data) {
                            $("#vresult").empty().append(data);
                        }
                    });

                });



                // for chassis no
                $(document).on('click', '#btnchassis', function () {
                    $.ajax({
                        url: '@Url.Action("GetChassis", "DutyCalculator")',
                        type: 'POST',
                        cache: false,
                        async: true,
                        data: { 'chassis': $('#ChassisNo').val() },
                        success: function (data) {
                            $("#vresult").empty().append(data);
                        }
                    });

                });




                $(document).ready(function () {
                    $("#feedbackbtn").click(function () {
                        $("#content").html("<b>Please Wait...</b>");

                        var dataObject = {
                            FullName: $("#Dutyfeedbacform_FullName").val(),
                            EmailAddress: $("#Dutyfeedbacform_EmailAddress").val(),
                            Message: $("#Dutyfeedbacform_Message").val()
                        };

                        $.ajax({
                            url: "@Url.Action("AddFeedback", "DutyCalculator")",
                            type: "POST",
                        data: dataObject,
                        dataType: "json",
                        success: function (data) {
                            if (data.toString() == "Successfully Saved!") {
                                $("#Dutyfeedbacform_FullName").val('');
                                $("#Dutyfeedbacform_EmailAddress").val('');
                                $("#Dutyfeedbacform_Message").val('');


                                $("#content").html("<div class='success'>"+data+"</div>");
                            }
                            else {
                                $("#content").html("<div class='failed'>" + data + "</div>");
                            }
                        },
                        error: function () {
                            $("#content").html("<div class='failed'>Error! Please try again</div>");
                        }
                    });

                });
                });



    </script>




}




<style>
    body {
        font-family: arial;
    }

    .hide {
        display: none;
    }

    p {
        font-weight: bold;
    }






    /*.success {
                    border:solid 1px rgb(13,109,0);
                    width:300px;
                    padding:5px;
                    background-color:rgb(215,255,218);
                }
                .failed {


                    border:solid 1px red;
                    width:300px;
                    padding:5px;
                    background-color:rgb(255,229,229);
                }*/
</style>




