@model Project.Areas.Setup.Models.ProductTypeViewModel
@{
    ViewBag.Title = "Edit Product Entry";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.IsGreetings = "true";
}
@section Scripts{
    @Scripts.Render("~/Content/Backend/vendors/tinymce/tinymce.min.js")
    <script>


        "use strict";
        $(document).ready(function () {
            $(".datepicker").datepicker({
                defaultDate: +7,
                showOtherMonths: true,
                autoSize: true,
                appendText: '<span class="help-block">(yyyy-mm-dd)</span>',
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
}
@section Crumbs{
    <div class="crumbs">

        <ul class="breadcrumb" id="breadcrumbs">
            <li><i class="icon-home"></i><a href="@Url.Action("Index", "Home", new { area = "Admin" })">Dashboard</a> </li>
            <li><i class="current"></i><a href="javascript: return void(0)">Edit Product Entry</a> </li>


        </ul>
    </div>
}

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr style="font-size: 12px;">
            <th>S/N</th>
            <th>Name</th>
            <th>Photo</th>
            <th>No Of views</th>
            <th>Modified By</th>
            <th>Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ProductType != null)
        {

            <tr style="font-size: 12px;">
                <td>1</td>
                <td>@Model.ProductType.Name</td>
                <td><img src="@Model.PicturePath@Model.ProductType.Photo" height="50" width="50" /></td>
                <td>@Model.ProductType.NoOfView</td>
                <td>@Model.ProductType.ModifiedBy</td>
                <td>@Model.ProductType.ModifiedDate</td>


            </tr>

        }
        else
        {
            <tr>
                <td colspan="8">No Records Found!...</td>
            </tr>
        }
    </tbody>
</table>
<br />


<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4>
                    <i class="icon-reorder"></i>
                    Edit Product Entry
                </h4>
            </div>
            <div class="widget-content">
                @using (Html.BeginForm("EditProduct", "ProductTypeManagement", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal row-border" }))
                {
                    @Html.HiddenFor(x=>x.productform.Id)
                    @Html.HiddenFor(x => x.productform.ProductTypeId)
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.Label("Name", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.productform.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.productform.Name)
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("Category", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.productform.ProductTypeId, new SelectList(Model.ProductTypeList, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.productform.ProductTypeId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Description", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextAreaFor(m => m.productform.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.productform.Description)
                        </div>
                    </div>



                    <div class="form-actions">

                        <a href="@Url.Action("ProductList", "ProductTypeManagement", new { Id = Model.productform.ProductTypeId,  @area="Setup" })" class="btn btn-success"><< Back to List</a>
                        <input type="submit" class="btn btn-warning pull-right" value="Save" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>




















