   <footer id="footer">
            <div class="footer-widget dark-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 widget bottom-xs-pad-20">
                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">About Us</h3>
                            </div>
                            <!-- Text -->
                            <p><strong>The Ghana’s Trading Hub Portal </strong>is the hub that provides information and tools relating to the trade supply chain (export, transit and import) in Ghana.<a href="~/Home/About" style="color:white">Read more</a></p>
                            <!-- Address -->
                            <p>
                            <strong>Office:</strong> Ghana Customs
                            <br />Ghana Revenue Authority (Customs Division),
                            <br />P.O.box 68 HQ Accra,Ghana.</p>
                            <!-- Phone -->   
                              <p>
                            <strong>Contact Us:</strong>
                             </P>
                             <a href="#"><i class="fa fa-phone"></i> +233 242 435 663</a><br />                             
                             <a href="mailto:support@ghanastradinghub.com"><i class="fa fa-envelope"></i> support@ghanastradinghub.com</a>
                                                                       
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 widget bottom-xs-pad-20">
                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">Useful Tool</h3>
                            </div>
                            <nav>
                                <ul>
                                    <!-- List Items -->
                                      <li>                                     
                                          <a href="@Url.Action("AgencyFeesList", "EServices", new { Area = ""})">Agencies Fees & Charges</a>
                                    </li>
                                    <li>                                        
                                        <a href="@Url.Action("Index", "DutyCalculator", new { Area = ""})">Duty Calculator</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("CurrencyConverter", "Home", new { Area = ""})">Currency Converter</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ImportClassification", "Home", new { Area = ""})">Import Classification Tool</a>
                                    </li>
                                     <li>
                                        
                                         <a href="@Url.Action("PhysicaExaminationTool", "EServices", new { Area = ""})">Physical Examination Tool</a>
                                    </li>
                                  
                                    <li>
                                        <a href="@Url.Action("CpcList", "Home", new { Area = ""})">Customs Regimes Code</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("FreightRates", "EServices", new { Area = ""})">Freight Rates</a>                                        
                                    </li>
                                </ul>
                            </nav>
                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">Organisations</h3>
                            </div>
                            <nav>
                                <ul>
                                    <!-- List Items -->
                                    <li>
                                      <a href="@Url.Action("OrganisationList", "Organisation", new { Area = "", Id="2"})">Government</a>     
                                    </li>
                                    <li>
                                        
                                        <a href="@Url.Action("OrganisationList", "Organisation", new { Area = "", Id="3"})">International</a>
                                    </li>
                                    <li>                                        
                                        <a href="@Url.Action("OrganisationList", "Organisation", new { Area = "", Id="1"})">Private</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 widget">
                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">MarketPlace</h3>
                            </div>
                            <nav>
                                <ul class="footer-blog">
                                    <!-- List Items -->
                                    <li>
                                        <a href="@Url.Action("MarketPlaceContact", "EServices", new {ProductTypeId=1, ProductId=1,Area = ""})">Agricultural Products (Cereals)</a>                                                            
                                    </li>
                                    <li>
                                        <a href="@Url.Action("MarketPlaceContact", "EServices", new {ProductTypeId=2, ProductId=7,Area = ""})">Coffee/Tea/Mate/Spices</a>                                                            
                                    </li>
                                    <li>
                                        <a href="@Url.Action("MarketPlaceContact", "EServices", new {ProductTypeId=3, ProductId=13,Area = ""})">Dairy Products (Raw)</a>  
                                    </li>
                                     <li>
                                         <a href="@Url.Action("MarketPlaceContact", "EServices", new {ProductTypeId=6, ProductId=24,Area = ""})">Horticultural Products</a>                                                            
                                    </li>
                                     <li>
                                         <a href="@Url.Action("MarketPlaceContact", "EServices", new {ProductTypeId=7, ProductId=50,Area = ""})">Meat and Meat Offal</a>                                                            
                                    </li>
                                </ul>
                            </nav>
                        </div>
                       

                        <div class="col-xs-12 col-sm-6 col-md-3 widget">
                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">GTH Mobile App</h3>
                            </div>
                            <nav>
                                <ul class="footer-blog">
                                    <!-- List Items -->
                                    <li>
                                        <a href="https://itunes.apple.com/gh/app/ghana-trade-hub/id1459979649?mt=8" target="_blank"><img src="~/Content/Frontend/light/img/appstore.jpg" width="100" height="100"> </a> <a href="https://bit.ly/2YTRJkR" target="_blank">  <img src="~/Content/Frontend/light/img/playstore.jpg" width="100" height="100"></a>
                                    </li>                                   
                                 
                                </ul>
                            </nav>
                        </div>
                       

                        <div class="col-xs-12 col-sm-6 col-md-3 widget">
                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">Follow Us</h3>
                            </div>
                            <nav>
                                <ul class="footer-blog">
                                    <!-- List Items -->
                                    <li>
                                        <div class="social-icon gray-bg icons-circle i-3x">
                                            <a href="https://www.facebook.com/Ghanatradehub" target="_blank"><i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/Ghanatradehub" target="_blank"><i class="fa fa-twitter"></i></a>
                                            <a href="https://www.youtube.com/channel/UCuYvjrmO8zlodFTcSmklAug" target="_blank"><i class="fa fa-youtube"></i></a>
                                            <a href="https://www.linkedin.com/in/ghanatradehub" target="_blank"><i class="fa fa-linkedin"></i></a>



                                        </div>
                                    </li>
                                    

                                </ul>
                            </nav>

                            <div class="widget-title">
                                <!-- Title -->
                                <h3 class="title">Powered By</h3>
                            </div>
                            <nav>
                                <ul class="footer-blog">
                                    <!-- List Items -->
                                    <li>
                                        <a href="http://westblueconsulting.co.uk" target="_blank"><img src="~/Content/Frontend/light/img/newlogo.png" width="40" height="40"> </a> <img src="~/Content/Frontend/light/img/sw.png" width="40" height="40">
                                    </li>


                                </ul>
                            </nav>
                        </div>
                          
                            <!-- Social Links -->
                    

                          

                        </div>
                        <!-- .newsletter -->
                    </div>
                </div>
            
            <!-- footer-top -->
            <div class="copyright dark-section">
                <div class="container">
                    <div class="row">
                        <!-- Copyrights -->
                        <div class="col-xs-12 col-sm-6 col-md-6"> Copyright &copy; Ghana Customs, @DateTime.Now.ToString("yyyy")
                        <br />
                        <!-- Terms Link -->
                            <a href="@Url.Action("GNSWUsedTerm", "Help", new {area = "" })">GNSW Terms of Used</a>/ 
                            <a href="@Url.Action("GNSWPolicy", "Help", new {area = "" })">GNSW Privacy Policy</a>                                                                                            
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 text-right page-scroll gray-bg icons-circle i-3x">
                            <!-- Goto Top -->
                            <a href="#page">
                                <i class="glyphicon glyphicon-arrow-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

      
            <!-- footer-bottom -->
        </footer>

