@model Project.Models.IndexViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}



<!-- Owl Stylesheets -->
@section styles {
    <style>
        .owl-wrapper.leftMove {
            width: 4320px;
            left: 0px;
            display: block;
            color:white;
            background:white;
            transition: all 900ms ease 0s;
            transform: translate3d(0px, 0px, 0px);
        }

        .owl-wrapper.rightMove {
            width: 4320px;
            left: 0px;
            display: block;
            color:white;
            background:white;
            transition: all 900ms ease 0s;
            transform: translate3d(-810px, 0px, 0px);
        }
         div#get-quote{
            padding: 0;
        }

         .owl-page.active>span {
        background:white !important;
         color:black !important;
         
        }

        .owl-page.fixed>span {
        background:white !important;
         color:black !important;
         
        }
          
    </style>
}

<section id="works" class="page-section top-pad-50 bottom-pad-20">
    <div class="image-bg content-in fixed" data-background="@Url.Content("~/Content/Frontend/light/img/gthbg.jpg")">
        <div class="overlay"></div>
    </div>

    <div class="portfolio-grid owl-carousel" style="color:white" data-pagination="true" data-items="5" data-autoplay="true" data-navigation="true">

        <div class="grids">
            <div class="grid">
                <img src="@Url.Content("~/Content/Frontend/light/img/sections/portfolio/charges2.jpg")" alt="Recent Work" class="img-responsive" />
              
                <div class="figcaption">
                    <div class="caption-block">                       
                        <a href="@Url.Action("AgencyFeesList", "EServices", new {area = "" })" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="grids">
            <div class="grid">
                <img src="~/Content/Frontend/light/img/sections/portfolio/classic2.jpg" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <a href="@Url.Action("ImportClassification", "Home", new {area = "" })" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="grids">
            <div class="grid">
                <img src="~/Content/Frontend/light/img/sections/portfolio/duty1.jpg" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <a href="@Url.Action("Index", "DutyCalculator", new {area = "" })" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="grids">
            <div class="grid">
                <img src="~/Content/Frontend/light/img/sections/portfolio/curencyconverter2.jpg" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <a href="@Url.Action("CurrencyConverter", "Home", new {area = "" })" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="grids">
            <div class="grid">
                <img src="~/Content/Frontend/light/img/sections/portfolio/tracker1.jpg" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <a href="@Url.Action("ConsigmentTracking", "EServices", new {area = "" })" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="grids">
            <div class="grid">
                <img src="~/Content/Frontend/light/img/sections/portfolio/cpc2.jpg" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <a href="@Url.Action("CpcList", "Home", new {area = "" })" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="grids">
            <div class="grid">
                <img src="~/Content/Frontend/light/img/sections/portfolio/freight.jpg" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <a href="@Url.Action("FreightRates", "EServices", new {area = "" })" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="grids">
            <div class="grid">
                <img src="~/Content/Frontend/light/img/sections/portfolio/data.jpg" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <a href="https://wits.worldbank.org/trade-visualization.aspx" target="_blank" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="grids">
            <div class="grid">
                <img src="~/Content/Frontend/light/img/sections/portfolio/physical.jpg" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">                        
                        <a href="@Url.Action("PhysicaExaminationTool", "EServices", new {area = "" })" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="grids">
            <div class="grid">
                <img src="~/Content/Frontend/light/img/sections/portfolio/App1.jpg" alt="Recent Work" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <a href="@Url.Action("DownloadApp", "Home", new {area = "" })" class="btn btn-link" style="color:white"><i class="glyphicon glyphicon-eye-open"></i>View</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>
@*<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">NOTICE ON CONTAINER PACKING LIST</h4>
            </div>
            <div class="modal-body">

               <p>As part of the measures to ensure speedy clearance and efficiency at MPS Terminal 3, the Commissioner-General of the Ghana Revenue Authority has directed that with effect from 25TH JUNE, 2019, it shall be mandatory for importers to attach comprehensive Packing list comprising itemised list of goods in each container as a requirement for request for Customs Classification and Valuation Report (CCVR).</p><br />

                 <p><b>COMMISSIONER-GENERAL</b></p>
                      

                   
                 
                   
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="color:white">Close</button>
            </div>
        </div>

    </div>
</div>*@


@if (Model.HasNewEvent == true)
{
    <div id="get-quotes" class="bg-color get-a-quote white text-center" style="padding:0px 0">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="font-size:smaller">
                 
                    <div class="row bottom-pad-1 event-shedule">

                        <div data-appear-animation="fadeInUp" class="col-sm-4 col-md-3 text-center">
                            <div class="box" style="font-size:smaller"> 
                                <!-- Icon -->
                                <i class="icon-arrow-right4" style="font-size:smaller"></i>
                                <!-- Title -->
                                <div class="box-inner" style="font-size:smaller">
                                   
                                    <h4 style="font-size:smaller">Upcoming Event</h4>
                                    <p style="font-size:smaller">@Model.EventInformation.Name</p>
                                </div>
                            </div>
                        </div>
                        <!-- Box 1 -->
                        <div data-appear-animation="fadeInUp" class="col-sm-4 col-md-3 text-center">
                            <div class="box" style="font-size:smaller">
                                <!-- Icon -->
                                <i class="fa fa-map-marker" style="font-size:smaller"></i>
                                <!-- Title -->
                                <div class="box-inner" style="font-size:smaller">
                                    <h4 style="font-size:smaller">Location</h4>
                                    <p style="font-size:smaller">@Model.EventInformation.Venue</p>
                                </div>
                            </div>
                        </div>
                        <!-- Box 2 -->
                        <div data-appear-animation="fadeInUp" class="col-sm-4 col-md-3 text-center">
                            <div class="box" style="font-size:smaller">
                                <!-- Icon -->
                                <i class="fa fa-calendar-o" style="font-size:smaller"></i>
                                <!-- Title -->
                                <div class="box-inner" style="font-size:smaller">
                                    <h4 style="font-size:smaller">Date</h4>
                                    <p style="font-size:smaller">@Model.EventInformation.EventDate.ToLongDateString()</p>
                                </div>
                            </div>
                        </div>
                        <!-- Box 3 -->
                        <div data-appear-animation="fadeInUp" class="col-sm-4 col-md-3 text-center">
                            <div class="box" style="font-size:smaller">
                                <!-- Icon -->
                                <i class="icon-clock15" style="font-size:smaller"></i>
                                <!-- Title -->
                                <div class="box-inner" style="font-size:smaller">
                                    <h4 style="font-size:smaller">Time</h4>
                                    <p style="font-size:smaller">@Model.EventInformation.EventTime</p>
                                </div>
                            </div>
                        </div>
                        <!-- Box 4 -->                      
                       
                    </div>
                </div>

                

            </div>
        </div>
    </div>
}
else
{
  
    <div id="get-quotes" class="bg-color get-a-quote white text-center" style="padding:0px 0">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <div class="row bottom-pad-1 event-shedule" style="text-align:center" >                  
                        <div data-appear-animation="fadeInUp" class="col-sm-6 col-md-6 text-right">
                            <a href="@Url.Action("Classic", "Home", new { area = "" })">
                                <img src="https://www.ghanastradinghub.gov.gh/new/Content/Frontend/light/img/claasic1.png" width="100" height="50">
                                </a>
                                </div>

                        <div data-appear-animation="fadeInUp" class="col-sm-6 col-md-6 text-left">  
                            <a href="@Url.Action("Index", "Home", new { area = "" })">
                                <img src="https://www.ghanastradinghub.gov.gh/new/Content/Frontend/light/img/modern1.png" width="100" height="50" />
                                </a>
</div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>


   
}


<section class="page-section  animated fadeInUp visible" data-animation="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 post-list">
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Latest News </h3> @*@Model.IpAddress*@
                    </div>

                    @if (Model.NewsList.Count != 0)
                    {
                        foreach (var item in Model.NewsList.OrderByDescending(x => x.Id).Take(3))
                        {
                          
                            <div class="post-item">
                                <div class="post-image pull-left">
                                    <a href="@Url.Action("ViewNews", "Home", new {Id=item.Id, area = "" })">
                                        <img src="@Url.Content(Model.PicturePath+item.Photo)" width="320" height="282" alt="" title="" />
                                    </a>
                                </div>
                                <h4 class="post-title"><a href="@Url.Action("ViewNews", "Home", new {Id=item.Id, area = "" })">@item.NewsHeadline.ToLower()<br /></a> </h4>
                                <div class="post-content">                             
                                    @Html.Raw(item.NewsContent.Substring(0, 400))
                                <a href="@Url.Action("ViewNews", "Home", new {Id=item.Id, area = "" })">..read more</a></div>
                               
                                 <div class="post-meta">
                                   
                                     @*<span class="author">
                                         <i class="fa fa-user"></i> Posted by @item.CreatedBy
                                     </span>*@
                                    <!-- Meta Date -->

                                    <span class="time">
                                        <i class="fa fa-calendar"></i>Posted Date @item.CreatedDate.ToShortDateString()
                                    </span>

                                     @*<span class="time pull-right">
                                         <i class="glyphicon glyphicon-eye-open"></i>@item.NoOfView <a href="@Url.Action("Index", "RecentNews", new {area = "" })" class="btn btn-link btn-xs">View more</a>
                                     </span>*@
                                    
                                    <span class="category pull-right">
                                        <i class="glyphicon glyphicon-eye-open"></i> @item.NoOfView
                                        <a href="@Url.Action("Index", "RecentNews", new {area = "" })" class="btn btn-link btn-xs">View more</a>

                                    </span>
                                   
                                     <br /><br />

                                </div>
                            </div>
                           
                        }

                       
                           
           

                    }
                    
                       
                  

                </div>
                    </div>

            <div class="sidebar col-sm-12 col-md-3">
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Tweets</h3>
                    </div>

                    <div>
                        <a class="twitter-timeline" data-width="270" data-height="200" data-theme="dark" href="https://twitter.com/Ghanatradehub?ref_src=twsrc%5Etfw"></a>

                    </div>

                </div>

            </div>
                    <div class="sidebar col-sm-12 col-md-3">
                        <div class="widget">
                            <div class="widget-title">
                                <h3 class="title">Popular News</h3>
                            </div>

                            <div>
                                @if (Model.NewsList.Count != 0)
                                {
                                    foreach (var item in Model.NewsList.OrderByDescending(x=>x.NoOfView).Take(2))
                                    {
                                        <ul class="latest-posts">
                                            <li>
                                                <div class="post-thumb">
                                                    <a href="@Url.Action("ViewNews", "Home", new {Id=item.Id, area = "" })">
                                                        <img class="img-rounded" src="@Url.Content(Model.PicturePath+item.Photo)" alt="" title="" width="84" height="84">
                                                        </a>
</div>
                                                <div class="post-details">
                                                    <div class="description">

                                                        @Html.Raw(item.NewsHeadline.Substring(0, 20).ToLower()) <a href="@Url.Action("ViewNews", "Home", new {Id=item.Id, area = "" })">..read more</a>
                                                    </div>
                                                    <div class="meta">
                                                        <span class="time">
                                                            <i class="fa fa-calendar"></i> @item.CreatedDate.ToShortDateString()
                                                        </span>

                                                        <span class="category pull-right">
                                                            <i class="glyphicon glyphicon-eye-open"></i> @item.NoOfView
                                                        </span>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>
                                    
                                    }
                                }


                            </div>

                        </div>
                    </div>

                    <div class="sidebar col-sm-12 col-md-3">
                        <div class="widget">
                            <div class="widget-title">
                                <h3 class="title">Import/Export Procedures</h3>
                            </div>

                            <div id="MainMenu2">
                                <div class="list-group panel">
                                    <a href="@Url.Action("ImportSpecificCommodities", "EServices", new { area = "" })" class="list-group-item">Rice Import Procedure</a>
                                    <a href="@Url.Action("MedicineInDosesImportProcess", "EServices", new { area = "" })" class="list-group-item">Medicine In Doses Import Procedure</a>
                                    <a href="@Url.Action("AutoSparePartImportProcess", "EServices", new { area = "" })" class="list-group-item">Auto Spare Parts Import Procedure </a>
                                    <a href="@Url.Action("VehicleImportProcedure", "EServices", new { area = "" })" class="list-group-item">Vehicle/Trucks Import Procedure  </a>
                                    <a href="@Url.Action("VegetablePalmOilImportProcedure", "EServices", new { area = "" })" class="list-group-item">Vegetable/Palm Oil Import Procedure  </a>

                                    <a href="@Url.Action("ExportSpecificCommodities", "EServices", new { area = "" })" class="list-group-item">Fish Export Procedure</a>
                                    <a href="@Url.Action("CashewNutsExportProcedure", "EServices", new { area = "" })" class="list-group-item">Cashew Export Procedure </a>
                                    <a href="@Url.Action("CocoaBeanExportProcedure", "EServices", new { area = "" })" class="list-group-item">Cocoa Bean Export Procedure  </a>
                                    <a href="@Url.Action("GoldExportProcedure", "EServices", new { area = "" })" class="list-group-item">Gold Export Procedure  </a>

                                </div>
                            </div>







                        </div>

                    </div>


                </div>
        </div>

</section>


<section id="testimonials" class="page-section testimonails" style="padding:0px 0px 40px 0px; margin-top:-3%; margin-bottom:5%">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="widget" id="make">
                    <div class="widget-title">
                        <h3 class="title">Testimonials</h3>
                    </div>
                </div>
                <div class="owl-carousel pagination-1 dark-switch text-center" data-pagination="true" data-autoplay="true" data-navigation="false" data-items="3">
                    @if (Model.Testimonials.Count != 0)
                    {
                        foreach (var item in Model.Testimonials)
                        {                          
                            <div class="item col-md-4 col-sm-6">
                                <div class="desc-border bottom-arrow quote">
                                    <blockquote class="small-text"> @Html.Raw(item.Message) 
                                    </blockquote>                                                                     
                                </div>
                                <div class="client-details text-center">
                                    <div class="client-details">
                                        <strong class="text-color">@item.Name</strong>

                                        <span>@item.Company</span>
                                    </div>
                                </div>

                               
                            </div>
                          

                        }
                    }

                </div>
            </div>
        </div>
        <hr />

    </div>
</section>



@section Scripts{

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script>
        var movingItems;
        window.onload = function () {
            $('.owl-wrapper-outer:nth-child(1)>.owl-wrapper').attr('id', 'mainScroller');
        };

        (function () {
            Init();
        })();
        var calculate = function () {
            var rate = Number($("#CurrencyConverterForm_Country").val().trim());
            var amount = Number($("#CurrencyConverterForm_Amount").val().trim());
            var total = amount * rate;

            if (isNaN(amount)) {
                alert("Fill amount input with digits");
            }

            $("#totalAmount").html(total.toFixed(2));
        }


        var CurrencyChange = function () {
            calculate();
            $("#rate").html($("#CurrencyConverterForm_Country").val());
        }



        function Init() {
            var counter = 0;

            movingItems = setInterval(function () {
                if (counter % 2 == 0) {
                    $('#mainScroller').removeClass('rightMove').addClass('leftMove');
                } else {
                    $('#mainScroller').removeClass('leftMove').addClass('rightMove');
                }
                counter++;
            }, 6000);
        }

        $(document).on('mouseover', '#mainScroller>.owl-item', function () {
            clearInterval(movingItems);
        });
        $(document).on('mouseout', '#mainScroller>.owl-item', function () {
            Init();
        });

    </script>

<script type="text/javascript">
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
</script>




}




<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
<script src="https://www.letzchat.com/plugin/firebase.js"></script>
<script type="text/javascript" src="https://www.letzchat.com/ghana/translate.js"></script>

