@model Project.Models.IndexViewModel
@{
    ViewBag.Title = "Download Mobile App";
    //Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}



<div class="page-header page-title-left mini">
    <div class="image-bg content-in" data-background="@Url.Content("~/Content/Frontend/light/img/gthbg.jpg")" data-stellar-background-ratio="0.5" style="background-image: @Url.Content("~/Content/Frontend/light/img/gthbg.jpg"); background-position: 50% 0%;"></div>
    <div class="container">
        <div class="col-md-12">
            <h1 class="title" style="color:white">Download Mobile App</h1>
            <ul class="breadcrumb" style="color:white">
                <li style="color:white">
                    <a href="@Url.Action("Index", "Home", new {area = "" })" style="color:white">Home</a>
                </li>

                <li class="active" style="color:white">Download Mobile App</li>
            </ul>
        </div>
    </div>
</div>



<br /><br />

    <div style="">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <div class="row bottom-pad-1 event-shedule" style="text-align:center">
                        <div data-appear-animation="fadeInUp" class="col-sm-6 col-md-6 text-right">
                            <a href="https://itunes.apple.com/gh/app/ghana-trade-hub/id1459979649?mt=8" target="_blank">
                                <img src="@Model.masterURL/Content/Frontend/light/img/appstore.jpg" width="373" height="115" />
                            </a>
                        </div>

                        <div data-appear-animation="fadeInUp" class="col-sm-6 col-md-6 text-left">
                            <a href="https://bit.ly/2YTRJkR" target="_blank">
                                <img src="@Model.masterURL/Content/Frontend/light/img/playstore.jpg" width="373" height="115" />
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>




<script id="mcjs">
        !function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/9c6586da835db055a93f58d79/7844c90280741e626b81d798d.js");
</script>



@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <script src="https://www.letzchat.com/plugin/firebase.js"></script>
    <script type="text/javascript" src="https://www.letzchat.com/ghana/translate.js"></script>


}