@model Project.Models.EServicesViewModel
@using System.Globalization;
@{
    ViewBag.Title = "Vegetable/Palm Oil Import Procedures";
    var db = new Project.DAL.PROEntities();
}

<div class="page-header page-title-left mini">
    <div class="image-bg content-in" data-background="@Url.Content("~/Content/Frontend/light/img/gthbg.jpg")" data-stellar-background-ratio="0.5" style="background-image: @Url.Content("~/Content/Frontend/light/img/sections/slider/backmenu.jpg"); background-position: 50% 0%;"></div>
    <div class="container">
        <div class="col-md-12">
            <h1 class="title" style="color:white">Vegetable/Palm Oil Import Procedures</h1>
            <ul class="breadcrumb" style="color:white">
                <li style="color:white">
                    <a href="@Url.Action("Classic", "Home", new {area = "" })" style="color:white">Home</a>
                </li>


                <li class="active" style="color:white">Vegetable/Palm Oil Import Procedures</li>
            </ul>
        </div>
    </div>
</div>



<section id="schedule" class="page-section schedule">
    <div class="container">
        <div class="row">


            <div class="col-md-9">

                <div class="widget">

                    <div class="col-sm-2 col-md-2" style="text-align:left">
                        <img src="~/Content/Frontend/light/img/sections/blog/oil.jpg" class="pull-right" width="120" height="90" alt="" />
                    </div>

                    <div class="col-sm-7 col-md-7 ">

                        @if (Model.importexportProceedure.Description != null)
                        {
                            <p><strong>@Model.importexportProceedure.Name</strong>:- @Model.importexportProceedure.Description</p>
                        }
                        else

                        {
                            <p><strong>@Model.importexportProceedure.Name</strong>:- Lorem ipsum dolor sit amet, consectetur adipisicing elit. consequuntur ex eligendi minima voluptatem assumenda voluptas quidem sit maiores odio velit voluptate. Lorem ipsum dolor sit amet, consectetur.</p>
                        }


                    </div>
                    <i class="fa fa-file-pdf-o" style="font-size:15px;color:red"></i> <a target="_blank" href="~/Content/Frontend/light/img/Sections/services/Vegetable/Vegetable.pdf">Download PDF Version</a>
                    <br /><br /><br /><br />

                    <div class="tabs">
                        <div class="tab-content schedule-tab">
                            <div class="tab-pane active fade in" id="day1">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Actors

                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div style="text-align:center">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/businessActors.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/systemActors.png" style="text-align:center" width="705" height="700" alt="">

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Documents

                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div style="text-align:center">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/document1.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/document2.png" style="text-align:center" width="705" height="700" alt="">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Process Steps

                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <div style="text-align:center">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/step1.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/step2.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/step3.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/step4.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/step5.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/step6.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/step7.png" style="text-align:center" width="705" height="700" alt="">



                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingfour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                                    Estimated Time for Vegetable/Palm Oil Import Procedure

                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                                            <div class="panel-body">
                                                <div style="text-align:center">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/time.png" style="text-align:center" width="705" height="700" alt="">
                                                </div>



                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingfive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                                    Legal Justification

                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                                            <div class="panel-body">
                                                <div class="widget">
                                                    <div id="MainMenu2">
                                                        <div class="list-group panel">
                                                            <a href="~/Content/Frontend/light/img/sections/services/Rice/Documents/FoodandDrugsAuthority.pdf" target="_blank" class="list-group-item">Food and Drugs Authority (FDA)</a>
                                                            <a href="~/Content/Frontend/light/img/sections/services/Rice/Documents/GhanaPort&HarboursAuthority.pdf" target="_blank" class="list-group-item">Ghana Ports & Harbours Authority (GPHA)</a>

                                                            <a href="~/Content/Frontend/light/img/sections/services/Rice/Documents/GhanaRevenueAuthority.pdf" target="_blank" class="list-group-item">Ghana Revenue Authority (GRA)</a>

                                                            <a href="~/Content/Frontend/light/img/sections/services/Rice/Documents/GhanaStandardAuthority.pdf" target="_blank" class="list-group-item">Ghana Standard Authority (GSA)</a>
                                                            <a href="~/Content/Frontend/light/img/sections/services/Rice/Documents/MinistryOfTradeandIndustry.pdf" target="_blank" class="list-group-item">Ministry of Trade and Industry (MTI)</a>
                                                            
                                                            <a href="~/Content/Frontend/light/img/sections/services/Rice/Documents/RegistrarGeneralDepartment.pdf" target="_blank" class="list-group-item">Registra General's Department</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingsix">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                                    Estimated Cost

                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                                            <div class="panel-body">
                                                <div style="text-align:center">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/stepA.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/stepB.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/stepC.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/stepD.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/stepE.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/stepF.png" style="text-align:center" width="705" height="700" alt="">
                                                    <img src="~/Content/Frontend/light/img/sections/services/Vegetable/stepG.png" style="text-align:center" width="705" height="700" alt="">


                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-3">



                <div class="widget">
                    <div class="widget-title">

                        <h4 class="title" style="font-size:small">Import Procedures for Specific Commodities</h4>
                    </div>

                    <div id="MainMenu2">
                        <div class="list-group panel">
                            <a href="@Url.Action("ImportSpecificCommodities", "EServices", new {area = "" })" class="list-group-item">Rice</a>
                            <a href="@Url.Action("MedicineInDosesImportProcess", "EServices", new {area = "" })" class="list-group-item">Medicine In Doses</a>
                            <a href="@Url.Action("AutoSparePartImportProcess", "EServices", new {area = "" })" class="list-group-item">Auto Spare Part</a>
                            <a href="@Url.Action("VehicleImportProcedure", "EServices", new {area = "" })" class="list-group-item">Vehicle/Trucks</a>

                        </div>
                    </div>
                </div>


                <div class="widget">
                    <div class="widget-title">
                        <h4 class="title" style="font-size:small">Export Procedures for Specific Commodities</h4>
                    </div>

                    <div id="MainMenu2">
                        <div class="list-group panel">
                            <a href="@Url.Action("ExportSpecificCommodities", "EServices", new {area = "" })" class="list-group-item">Fish</a>
                            <a href="@Url.Action("MarketPlaceContact", "EServices", new {area = "" })" class="list-group-item">Cashew</a>
                            <a href="@Url.Action("MarketPlaceContact", "EServices", new {area = "" })" class="list-group-item">Cocoa Bean</a>
                            <a href="@Url.Action("MarketPlaceContact", "EServices", new {area = "" })" class="list-group-item">Gold</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <script src="https://www.letzchat.com/plugin/firebase.js"></script>
    <script type="text/javascript" src="https://www.letzchat.com/ghana/translate.js"></script>

}

